extends assets/layout/app

block pageContent

  // Start slide Show
  <div class="slide_show">
      <div class="layout"></div>
      <div class="main-Carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="layout"></div>
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/img/slide_1.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      h4.main_color Klayfp.me
                      <h1>SmartEDU Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/slide_2.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      <h1> <span class="main_color">SmartEDU</span> Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets/img/slide_3.jpg" alt="" srcset="">
                  <div class="carousel-caption d-none d-md-block">
                      <h1> <span class="main_color">SmartEDU</span> Education College</h1>
                      <p>With Landigoo responsive landing page template, you can promote your all hosting, domain and email services.</p>
                      <a href="" class="btn main_btn hvr-radial-in">Contact us</a>
                      <a href="" class="btn main_btn hvr-radial-in">read more</a>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
  // End slide Show

  //Start Section What We Dow
  div(class="section Sec-toBe text-center")
    div.container
      div.main-head
        h2(class="") what #[span we dow]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.option
        div.row
          //Box
          div.col-md-4
            div(class="box active")
              span #[i(class="fab fa-android")]
              h4.title App Development
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn second_button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fab fa-ioxhost")]
              h4.title Brand Identity
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-code")]
              h4.title Web Development
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fab fa-codepen")]
              h4.title Business Strategy
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-camera")]
              h4.title Photography
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
          //Box
          div.col-md-4
            div.box
              span #[i(class="fas fa-random")]
              h4.title UX Research
              p our trainers can integrate special English vocabulary and marketing and sales terminology
              a(class="btn button") Lean More 
  //End Section What We Dow

  //Start Section Work With US
  div(class="section Sec-workUs text-center")
    div.container
      h2.text-light Interest To Work With us ?
      a.btn Get In Touch
  //End Section Work With US

  //Start Section resent
  div(class="section Sec-resent text-center")
    div.container
      div.main-head
        h2(class="") RECENT #[span WORK]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.option
        div.row
          div(class="col-md-8 res_padding")
            div(class="box" style="background-image:url(assets/img/imh_2.jpg)")
              .layout
                div.content
                  h4(class="main_color") Contextual text classes also work
                  p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-4 res_padding")
            div(class="box" style="background-image:url(assets/img/img_1.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") Contextual text
                  p.lead Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-8 res_padding")
            div(class="box" style="background-image:url(assets/img/img_3.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") classes also work
                  p.lead professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
                  a(class="btn second_button") Learn More
          div(class="col-md-4 res_padding")
            div(class="box" style="background-image:url(assets/img/img_4.jpg)")
              .layout
                div(class="content res_opacity")
                  h4(class="main_color") Contextual
                  p.lead professionals working in sales and marketing often have their own terminology. 
                  a(class="btn second_button") Learn More
        <a href="" class="btn main_btn hvr-radial-in">SEE MORE WORK</a>
  //End Section What We Dow

  //Start Section Work With US
  div(class="Sec-ourProject text-center")
    div(class="layout section")
      div(class="content container")
        h2.text-light Take it to next level <br> and see what we have done
        div.row
          //Start Box
          div.col-md-3
            div.box
              h3 443
              p Project
          //Start Box
          div.col-md-3
            div.box
              h3 352
              p satisfied clients
          //Start Box
          div.col-md-3
            div.box
              h3 806
              p ongoing projects
          //Start Box
          div.col-md-3
            div.box
              h3 8957
              p cups of coffee
  //End Section Work With US

  //Start Section Sec-skill
  div(class="section Sec-skill text-center")
      div.container
        div.main-head
          h2(class="") Our #[span skill]  
          p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
          div.row
            div.col-md-4
              div(class="mainProjectGallery" style="background-image:url(assets/img/skill_1.jpg)")
                .layout
                  div(class="content main_proj")
                    a(class="btn second_button") Learn More

            div.col-md-2
              div(class="ProjectGallery" style="background-image:url(assets/img/skill_2.jpg)")
                div(class="layout res_opacity")
                  div(class="content")
                    a(class="btn second_button") Learn More
              div(class="ProjectGallery" style="background-image:url(assets/img/skill_3.jpg);margin-top: 20px;")
                div(class="layout res_opacity")
                  div(class="content")
                    a(class="btn second_button") Learn More

            div.col-md-6
              div.box
                h5 marketing
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
              div.box
                h5 web Design
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
              div.box
                h5 Web developer
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
  //Start Section Sec-skill

  //Start Section our team
  div(class="section Sec-resent Sec-team text-center")
    div.container
      div.main-head
        h2(class="") Our #[span Team]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
        div.option
          div.row
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_1.png)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Web Development
                    p.lead Ahmed Ali Klay
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")]
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_2.jpg)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Web Design
                    p.lead Klay
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")]
            div(class="col-md-4")
              div(class="box" style="background-image:url(assets/img/team_3.jpg)")
                .layout
                  div(class="content res_opacity")
                    h4(class="main_color") Marketing
                    p.lead Ahmed Ali
                    a(class="btn second_button") Learn More
                    div.social-media-icon
                      ul.list-unstyled
                        li #[i(class="fab fa-facebook-f")]
                        li #[i(class="fab fa-twitter")]
                        li #[i(class="fab fa-linkedin-in")] 
  //End Section our team   
  //Start Section testimonials
  div(class="testimonials")
    div(class="section layout")
      div.container
        div(class="main-head text-center")
          h2(class="text-light") From Our Clients
        <div id="testimonialsControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3 d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3 d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-caption">
                  div.row
                    div(class="col-md-3  d-none d-md-block")
                      <img class="d-block w-100" src="assets/img/img_1.jpg" alt="Second slide">
                    .col-md-9
                      <p> &ldquo; Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP &rdquo;</p>
                      h5 -Ahmed ALi
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#testimonialsControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon hvr-wobble-horizontal" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#testimonialsControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon hvr-wobble-horizontal" aria-hidden="true">
              <i class="fa fa-angle-right"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  //End Section testimonials
  // Start Latest Blog
  div(class="section our_Blog Sec-toBe text-center")
    div.container
      div.main-head
        h2(class="") Latest #[span Blog]
        p.lead Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      div.row
        //Box
        div(class="col-md-4 sm-12")
          div.box
            <div class="card text-left">
              <img class="card-img-top" src="assets/img/post_1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Company Update News</h5>
                span(class="date main_color") 11 oc 2020 by Klay
                <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                <a href="#" class="btn second_button">See More</a>
              </div>
            </div>
        //Box
        div(class="col-md-4 sm-12")
          div.box
            <div class="card text-left">
              <img class="card-img-top" src="assets/img/post_2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Company Update News</h5>
                span(class="date main_color") 11 oc 2020 by Klay
                <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                <a href="#" class="btn second_button">See More</a>
              </div>
            </div>
        //Box
        div(class="col-md-4 sm-12")
            div.box
              <div class="card text-left">
                <img class="card-img-top" src="assets/img/post_3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Company Update News</h5>
                  span(class="date main_color") 11 oc 2020 by Klay
                  <p class="card-text">Cards support a wide variety of content, including images, text, list groups, links, and more. Below are examples of what’s supported.</p>
                  <a href="#" class="btn second_button">See More</a>
                </div>
              </div>
  // Start Latest Blog
  // Start Section Contact Us
  div(class="section Contact-us text-center")
    div.container
      div.main-head
        h2(class="text-light") Contact Us
        p(class="lead text-light") Like many other professions, professionals working in sales and marketing as well as customer services often have their own terminology. Speaking English at work in these professions requires a thorough knowledge 
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Enter email"></textarea>
        </div>
        <button type="submit" class="btn main_btn">Send Msg</button>
      </form>
  // Start Section Contact Us

  // Start Section Copy Right
  div(class="copyRight text-center")
    p copy Right By Ahmed Ali Klay 2020
  // Start Section Copy Right
