include ../include/mixin
include ../include/styles

//-Start Main nav Bar

<!-- Start main_nav -->
<div class="main_nav_bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    div.container
      <a class="navbar-brand" href="#">
          span #[span.box al. ] KlayFB #[strong .me ]
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link hvr-pulse-grow" href="#">Home</a>
          </li>
          <li class="nav-item active hvr-pulse-grow">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item hvr-pulse-grow">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item hvr-pulse-grow">
            <a class="nav-link" href="#">Service</a>
          </li>
          <li class="nav-item hvr-pulse-grow">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item hvr-pulse-grow">
            <a class="nav-link" href="#">contact</a>
          </li>
          <li class="nav-item hvr-pulse-grow">
            <a class="nav-link hvr-radial-in" href="#"> BOOK NOW </a>
          </li>
        </ul>
    </div>
  </nav>
</div>
<!-- End main_nav -->

//- Start Page Content
block pageContent
  div no found
//- Start Page Content


//- img(src="template.jpg" style={'width':'100%','height':'auto','margin-top':'100px'})


include ../include/scripts
include ../include/variables
