*{
    padding:0;
    margin:0;
}
body{
    background-color: $mainColor;
}::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    background: none;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    text-align: center;
    padding: 3px;
    font-weight: 100;
    svg{
        font-size: 56px;
    }
}.form-control:focus {
    color: #495057;
    background-color: #fff0;
    border-color: #80bdfff0;
    outline: 0;
    box-shadow: 0 0 black;
}
%main_transition {
    transition: all .3s ease-in-out
}%slow_transition{
    transition: all .5s ease-in-out
}
%layout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#000000ad;
    z-index:1;
    text-transform: uppercase;
}%layout{
    background-color: #15151582;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.main_color{
    color: $mainColor;
}.res_padding{
    padding:0;
}.res_opacity{
    opacity:0;
}
.section{
    padding:80px 0;
    background-color: #ffff;
    .main-head{
        span{
            color: $mainColor;
        }
        h2{
            text-transform: capitalize;
            font-weight: bold;
            font-size: 47px;
            color: #000;
            &:after{
                content: "";
                display: block;
                width: 140px;
                height: 2px;
                background-color: $mainColor;
                margin: 22px auto;
            }
        }
        p{
            font-size: 17px;
            font-family: cursive;
            color: #605f5f;
        }
    }
}
.social-media-icon{
    color:#fff;
    li{
        display:inline-block;
        margin:30px 20px;
        @extend %main_transition;
        display: inline-block;
        margin: 30px 20px;
        padding: 6px;
        border-radius: 5px;
        background-color: #f03433;
        font-size: 14px;
        width: 36px;
        &:hover{
            color: $mainColor;
            background-color: #fff;
        }
    }
}