* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f03433;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: blueviolet;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  text-align: center;
  padding: 3px;
  font-weight: 100;
}
.carousel-control-prev-icon svg,
.carousel-control-next-icon svg {
  font-size: 56px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff0;
  border-color: #80bdfff0;
  outline: 0;
  box-shadow: 0 0 black;
}

.main_nav_bar .bg-light .navbar-nav .nav-link, .social-media-icon li {
  transition: all 0.3s ease-in-out;
}

.Sec-skill .ProjectGallery:hover .res_opacity, .Sec-skill .ProjectGallery .layout a, .Sec-skill .ProjectGallery .layout, .Sec-skill .mainProjectGallery .layout .main_proj a, .Sec-skill .mainProjectGallery .layout, .Sec-ourProject .layout, .Sec-resent .box .layout .content, .Sec-resent .box .layout, .Sec-workUs a.btn, .Sec-toBe .option .box {
  transition: all 0.5s ease-in-out;
}

.testimonials .layout, .Sec-skill .ProjectGallery .layout, .Sec-skill .mainProjectGallery .layout, .Sec-ourProject .layout, .Sec-resent .box .layout, .slide_show .layout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  z-index: 1;
  text-transform: uppercase;
}

.testimonials .layout, .Sec-skill .ProjectGallery .layout, .Sec-skill .mainProjectGallery .layout, .Sec-ourProject .layout, .Sec-resent .box .layout, .slide_show .layout {
  background-color: #15151582;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.main_color {
  color: #f03433;
}

.res_padding {
  padding: 0;
}

.res_opacity {
  opacity: 0;
}

.section {
  padding: 80px 0;
  background-color: #ffff;
}
.section .main-head span {
  color: #f03433;
}
.section .main-head h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 47px;
  color: #000;
}
.section .main-head h2:after {
  content: "";
  display: block;
  width: 140px;
  height: 2px;
  background-color: #f03433;
  margin: 22px auto;
}
.section .main-head p {
  font-size: 17px;
  font-family: cursive;
  color: #605f5f;
}

.social-media-icon {
  color: #fff;
}
.social-media-icon li {
  display: inline-block;
  margin: 30px 20px;
  display: inline-block;
  margin: 30px 20px;
  padding: 6px;
  border-radius: 5px;
  background-color: #f03433;
  font-size: 14px;
  width: 36px;
}
.social-media-icon li:hover {
  color: #f03433;
  background-color: #fff;
}

.main_btn {
  background-color: #f03433;
  color: #fff;
  padding: 15px;
  min-width: 218px;
}
.main_btn:hover {
  background-color: #fff;
  color: #f03433;
}

.second_button {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 3px 13px;
  font-size: 14px;
  font-family: monospace;
}
.second_button:hover {
  background-color: #f03433;
  color: #fff;
}

.main_nav_bar .bg-light {
  background-color: #f03433 !important;
  padding: 0;
  padding-bottom: 3px;
}
.main_nav_bar .bg-light .navbar-nav .nav-link {
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.main_nav_bar .bg-light .navbar-nav .nav-link:hover {
  color: #ccc;
  border-bottom: 2px solid #fff;
}
.main_nav_bar .bg-light .navbar-brand {
  color: #fefefe;
  font-weight: bold;
  padding-top: 0;
}
.main_nav_bar .bg-light .navbar-brand span strong {
  font-size: 52px;
}
.main_nav_bar .bg-light .navbar-brand span span {
  border: 4px solid #fff;
  padding: 3px;
  padding-left: 10px;
}
.main_nav_bar .bg-light .navbar-nav .active > .nav-link, .main_nav_bar .bg-light .navbar-nav .Sec-toBe .option .box:hover > .nav-link, .Sec-toBe .option .main_nav_bar .bg-light .navbar-nav .box:hover > .nav-link, .main_nav_bar .bg-light .navbar-nav .nav-link.active, .main_nav_bar .bg-light .navbar-nav .Sec-toBe .option .nav-link.box:hover, .Sec-toBe .option .main_nav_bar .bg-light .navbar-nav .nav-link.box:hover, .main_nav_bar .bg-light .navbar-nav .nav-link.show, .main_nav_bar .bg-light .navbar-nav .show > .nav-link {
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.slide_show {
  position: relative;
}
.slide_show .carousel-item img {
  width: 100%;
  height: 700px;
}
.slide_show .carousel-item .carousel-caption {
  text-align: left;
  bottom: 207px;
}
.slide_show .carousel-item .carousel-caption h4.main_color {
  font-size: 40px;
  font-weight: 300;
  line-height: 102px;
}
.slide_show .carousel-item .carousel-caption h1 {
  line-height: 106px;
  font-size: 54px;
  font-weight: bold;
  font-family: sans-serif;
}
.slide_show .carousel-item .carousel-caption p {
  font-size: 27px;
  font-family: inherit;
  font-weight: 500;
}
.slide_show .carousel-indicators {
  border: 2px solid #ccc;
  width: 231px;
  margin: 23px auto;
  border-radius: 22px;
  padding: 8px;
  bottom: 19px;
}
.slide_show .carousel-indicators li {
  width: auto;
  height: auto;
  border-radius: 50%;
  padding: 9px;
  border: 2px solid #fff;
  background-color: #fff0;
  margin: auto 22px;
}

.Sec-toBe {
  background-color: #f8f8f8;
}
.Sec-toBe .option .box {
  background-color: #fff;
  padding: 22px 0;
  margin-top: 40px;
}
.Sec-toBe .option .box span {
  display: block;
  margin: 15px auto;
  font-size: 35px;
}
.Sec-toBe .option .box a {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 3px 13px;
  font-size: 14px;
}
.Sec-toBe .option .box p {
  color: #8f8e8e;
  font-size: 17px;
}
.Sec-toBe .option .box.active, .Sec-toBe .option .box:hover {
  background-color: #f03433;
  box-shadow: 4px 4px 9px #ccc;
}
.Sec-toBe .option .box.active span, .Sec-toBe .option .box:hover span, .Sec-toBe .option .box.active p, .Sec-toBe .option .box:hover p, .Sec-toBe .option .box.active h4, .Sec-toBe .option .box:hover h4 {
  color: #fff;
}
.Sec-toBe .option .box.active a, .Sec-toBe .option .box:hover a {
  color: #f03433;
  background-color: #fff;
}
.Sec-workUs {
  background-color: #f03433;
}
.Sec-workUs h2, .Sec-workUs a {
  font-weight: bold;
  color: #fff;
}
.Sec-workUs a.btn {
  border: 2px solid #f8f9fa;
  width: 268px;
  border-radius: 2.25rem;
  font-size: 30px;
  margin: 22px auto;
}
.Sec-workUs a.btn:hover {
  background-color: #fff;
  color: #f03433;
}

.Sec-resent .box {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 345px;
}
.Sec-resent .box .layout .content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 113px 20px;
}
.Sec-resent .box .layout .content p {
  font-size: 14px;
  color: #fff;
}
.Sec-resent .box .layout .content a {
  color: #ccc;
  padding: 5px 37px;
  font-size: 17px;
}
.Sec-resent .box .layout:hover .content {
  opacity: 1 !important;
}
.Sec-resent a.main_btn {
  margin: 32px auto;
  border-radius: 22px;
  font-weight: bold;
  box-shadow: 4px 4px 10px #ccc;
  border: 1px solid #ccc;
}

.Sec-ourProject {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 385px;
  background-image: url("../img/workUs.jpg");
}
.Sec-ourProject .layout .box {
  text-transform: uppercase;
  color: #fff;
  margin-top: 25px;
}
.Sec-ourProject .layout .box h3 {
  font-weight: bold;
  font-size: 58px;
}

.Sec-skill .main-head p {
  margin-bottom: 50px;
}
.Sec-skill .mainProjectGallery {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 254px;
}
.Sec-skill .mainProjectGallery .layout {
  padding: 30% 0;
}
.Sec-skill .mainProjectGallery .layout .main_proj a {
  color: #fff;
  font-size: 25px;
}
.Sec-skill .mainProjectGallery .layout .main_proj a:hover {
  background-color: #f03433;
}
.Sec-skill .ProjectGallery {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 117px;
}
.Sec-skill .ProjectGallery .layout a {
  color: #fff;
  font-size: 12px;
}
.Sec-skill .ProjectGallery .layout a:hover {
  background-color: #f03433;
}
.Sec-skill .ProjectGallery .layout .content {
  margin: 46px auto;
}
.Sec-skill .ProjectGallery:hover .res_opacity {
  opacity: 1 !important;
}
.Sec-skill .box {
  margin-bottom: 13px;
  text-align: left;
}
.Sec-skill .box .progress-bar {
  background-color: #f03433;
}
.Sec-skill .box h5 {
  color: #767676;
  font-size: 15px;
  font-family: cursive;
  text-transform: capitalize;
  line-height: 40px;
}

.Sec-team {
  background-color: #f03433;
}
.Sec-team .box {
  background-size: 100% 100%;
  background-attachment: inherit;
  margin-top: 41px;
}
.Sec-team .main-head span, .Sec-team .main-head h2, .Sec-team .main-head p {
  color: #fff;
}

.testimonials {
  background-image: url(../img/slide_1.jpg);
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 545px;
  position: relative;
}
.testimonials .layout {
  padding: 80px 0;
  background-color: #151515d6;
}
.testimonials .layout p {
  color: #fff;
}
.testimonials .carousel {
  margin-top: 75px;
}
.testimonials .carousel .carousel-item {
  height: 200px;
}
.testimonials .carousel .carousel-item .carousel-caption {
  text-align: left;
}
.testimonials .carousel .carousel-item .carousel-caption img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.testimonials .carousel .carousel-item .carousel-caption p {
  color: #fff;
}

.our_Blog .box {
  margin-top: 50px;
}
.our_Blog .box img {
  height: 227px;
}
.our_Blog .box p {
  font-size: 17px;
  font-family: cursive;
  color: #605f5f;
}

.Contact-us {
  background-color: #061826;
}
.Contact-us form {
  margin-top: 50px;
}
.Contact-us .form-control {
  margin-top: 30px;
  background-color: #12121200;
  border: 0;
  border-bottom: 2px solid #fff;
}
.Contact-us .form-control:focus {
  border-bottom: 2px solid #f03433;
}
.Contact-us .main_btn {
  margin: 30px auto;
  border-radius: 21px;
  font-weight: bold;
}

.copyRight {
  background-color: #f03433;
  color: #fff;
}
.copyRight p {
  padding: 30px 0;
  margin: 0;
}

/*# sourceMappingURL=homepage.css.map */
