.main_btn{
    background-color: $mainColor;
    color: #fff;
    padding: 15px;
    min-width: 218px;
    &:hover{
        background-color: #fff;
        color: $mainColor;
    }
}
.second_button{
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 3px 13px;
    font-size: 14px;
    font-family: monospace;
    &:hover{
        background-color: $mainColor;
        color: #fff;
    }
}