.main_nav_bar{
    .bg-light{
        background-color: $mainColor !important;
        padding:0;
        padding-bottom: 3px;
        .navbar-nav .nav-link {
            color: rgb(255 255 255);
            border-bottom:2px solid rgba(255, 255, 255, 0);
            @extend %main_transition;
            &:hover{
                color:#ccc;
                border-bottom:2px solid #fff;

            }
        }
        .navbar-brand {
            color: rgb(254 254 254);
            font-weight: bold;
            padding-top: 0; 
            span{
                strong{
                    font-size: 52px;
                }
                span{
                    border: 4px solid #fff;
                    padding: 3px;
                    padding-left: 10px;
                }
            }
        }
        .navbar-nav .active>.nav-link,.navbar-nav .nav-link.active,.navbar-nav .nav-link.show,.navbar-nav .show>.nav-link {
            color: rgb(255 255 255);
            font-weight:bold;
            border-bottom:2px solid #fff;
        }
    }
   
} 