.slide_show{
    position: relative;
    .layout{
       @extend %layout;
    }
    .carousel-item{
        img{
            width:100%;
            height: 700px;
        }
        .carousel-caption{
            text-align:left;
            bottom: 207px;
            h4.main_color{
                font-size: 40px;
                font-weight: 300;
                line-height: 102px;
            }
            h1{
                line-height: 106px;
                font-size: 54px;
                font-weight: bold;
                font-family: sans-serif;
            }
            p{
                font-size: 27px;
                font-family: inherit;
                font-weight: 500;
            }
        }
    }
    .carousel-indicators{
        border: 2px solid #ccc;
        width: 231px;
        margin: 23px auto;
        border-radius: 22px;
        padding: 8px;
        bottom: 19px;
        li{
            width: auto;
            height: auto;
            border-radius: 50%;
            padding: 9px;
            border: 2px solid #fff;
            background-color: #fff0;
            margin: auto 22px;
        }
    }
}
.Sec-toBe{
    background-color: #f8f8f8;
    .option{
        .box{
            background-color: #fff;
            padding:22px 0;
            margin-top:40px;
            @extend %slow_transition;
            span{
                display: block;
                margin: 15px auto;
                font-size: 35px;
            }
            a{   
                border: 1px solid #ccc;
                border-radius: 0;
                padding: 3px 13px;
                font-size: 14px;
            }p{
                color: #8f8e8e;
                font-size: 17px;
            }
            &.active{
                background-color: $mainColor;
                box-shadow: 4px 4px 9px #ccc;
                span,p,h4{
                    color:#fff;
                }
                a{
                    color:$mainColor;
                    background-color: #fff;
                }
            }
            &:hover{
                @extend .active
            }
        }
    }
}
.Sec-workUs{
    background-color: $mainColor;
    h2,a{
        font-weight: bold;
        color: #fff;
    }
    a.btn{
        @extend %slow_transition;
        border: 2px solid #f8f9fa;
        width: 268px;
        border-radius: 2.25rem;
        font-size: 30px;
        margin: 22px auto;
        &:hover{
            background-color: #fff;
            color: $mainColor;
        }
    }
}
.Sec-resent{
    .box{
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        min-height: 345px;
        .layout{
            @extend %slow_transition;
            @extend %layout;
            .content{
                @extend %slow_transition;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index:2;
                padding: 113px 20px;
                p{
                    font-size: 14px;
                    color: #fff;
                }a{
                    color: #ccc;
                    padding: 5px 37px;
                    font-size: 17px;
                }
            }
            &:hover{
                .content{
                    opacity:1 !important;
                }
            }
        }
    }
    a.main_btn{
        margin: 32px auto;
        border-radius: 22px;
        font-weight: bold;
        box-shadow: 4px 4px 10px #ccc;
        border: 1px solid #ccc;
    }
}
.Sec-ourProject{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 385px;
    background-image:url('../img/workUs.jpg');
    .layout{
        @extend %slow_transition;
        @extend %layout;
        .box{
            text-transform: uppercase;
            color:#fff;
            margin-top: 25px;
            h3{
                font-weight: bold;
                font-size: 58px;
            }
        }
    }
}
.Sec-skill{
    .main-head{
        p{
            margin-bottom: 50px;
        }
    }
    .mainProjectGallery{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        height: 254px;
        .layout{
            @extend %slow_transition;
            @extend %layout;
            padding: 30% 0;
            .main_proj a{
                color: #fff;
                font-size: 25px;
                @extend %slow_transition;
                &:hover{
                    background-color: $mainColor;
                }
            }
        }
    }
    .ProjectGallery{
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        height: 117px;
        .layout{
            @extend %slow_transition;
            @extend %layout;
            a{
                color: #fff;
                font-size: 12px;
                @extend %slow_transition;
                &:hover{
                    background-color: $mainColor;
                }
            }
            .content{
                margin: 46px auto;
            }
        }
        &:hover{
            .res_opacity{
                @extend %slow_transition;
                opacity:1 !important;
            }
        }
    }
    .box{
        margin-bottom:13px;
        text-align:left;
        .progress-bar{
            background-color: $mainColor;
        }
        h5{
            color: #767676;
            font-size: 15px;
            font-family: cursive;
            text-transform: capitalize;
            line-height: 40px;
        }
    }
}
.Sec-team{
    background-color: $mainColor;
    .box{
        background-size: 100% 100%;
        background-attachment: inherit;
        margin-top: 41px;
    }.main-head{
        span,h2,p{
            color: #fff;
        }
    }
}
.testimonials{
    background-image:url(../img/slide_1.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 545px;
    position: relative;
    .layout{
       @extend %layout;
       padding:80px 0;
       background-color: #151515d6;
       p{
           color:#fff
       }
    }
    .carousel {
        margin-top: 75px;
        .carousel-item{
            height: 200px;
            .carousel-caption{
                text-align:left;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                }p{color: #fff;}
            }
        } 
    }
}
.our_Blog{
    .box{
        margin-top:50px;
        img{
            height: 227px;
        }
        p{   
            font-size: 17px;
            font-family: cursive;
            color: #605f5f;
        }
    }
}
.Contact-us{
    background-color:#061826;
    form{
        margin-top:50px;
    }
    .form-control {
        margin-top:30px;
        background-color: #12121200;
        border: 0;
        border-bottom: 2px solid #fff;
        &:focus{
        border-bottom:2px solid $mainColor;
        }
    }
    .main_btn{
        margin:30px auto;
        border-radius: 21px;
        font-weight:bold;
    }
}